.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #f0dd92;
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar a {
    margin: 0 10px;
    font-weight: bold;
    font-size: 2rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  img {
    width: 7rem;
    margin: 0 10px;
  }
  .siteTitle a {
    display: flex;
    align-items: center;
  }
}
